@import "tailwindcss";
@plugin "@tailwindcss/typography";

root {
  --background: #ffffff;
  --foreground: #171717;
}

.prose-sm h1 {
  font-size: 1.5rem; /* mimic text-2xl */
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), monospace, sans-serif;
}

@layer utilities {
  .translate-3d {
    -webkit-transform: translate3d(0, 0, 0); /* for Safari blurry svg */
    transform: translate3d(0, 0, 0); 
  }
}

.font-sans-override {
  font-family: ui-sans-serif, system-ui, sans-serif !important;
}
